@import "tailwindcss";

:root {
  --primary: #956afa;
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme="dark"] {
  --primary: #956afa;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

* {
  transition: background-color 0.3s, color 0.3s;
}